@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #138D75;
}

#column-2 {
  background: #0E6655;
}

#column-3 {
  background: #0B5345;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: #F5B7B1;
  }

  #column-1 {
    background-color: #E74C3C;
  }

  #column-2 {
    background-color: #B03A2E;
      }

  #column-3 {
    background-color: #943126;
    width: 100%;
  }

  footer {
    background-color: #641E16;
  }
  
  .col-3 {
    width: 50%;
  }
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: #7FB3D5;
  }

  #column-1 {
    background-color: #2980B9;
  }

  #column-2 {
    background-color: #2471A3;
  }

  #column-3 {
    background-color: #21618C;
    width: 33.33%;
  }

  footer {
    background-color: #154360;
  }
   .col-3 {
     width: 33.33%;
   }
}
